body {
  margin: 0;
  padding-top: 70px;
  font-family: Arial;
  scroll-behavior: smooth;
}

nav {
  background: #007bff;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
}

section {
  min-height: 100vh;
  padding: 100px 20px;
  text-align: center;
}

#home {
  background: lightblue;
}

#doctors {
  background: lightgray;
}

#appointment {
  background: lightgreen;
}

table {
  margin: auto;
  width: 70%;
  background: white;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

th {
  background: #007bff;
  color: white;
}

form input, form select, form button {
  padding: 10px;
  margin: 10px;
}
